* {
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    border: 2px solid #000000;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    height: 60px;
}

.contenedor_cat_list {
    display: flex;
    /* flex-direction: row; */
}

.aside {
    width: 15%;
    font-size: 15px;
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.aside label {
    font-size: .9em;
    font-weight: bold;
}

.listas_prod {
    width: 85%;
    border: 2px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.product_card{
    border: 2px solid blue;
    font-size: .9em;
    margin: 0;
}